<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>OnlineShop</title>
	<meta charset="utf-8">
    <base href="/">

	<meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1, width = device-width, user-scalable = 0">
	<!--<link rel="stylesheet" type="text/css" href="css/grid-fluid-12.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script>
        var isLogin = <%- isLogin ? 'true' : 'false'%>;
        if(isLogin){
            var userId = "<%- User.cid %>";
            var userName = "<%- User.cname %>";
            var userGender = "<%- User.cgender %>"
            var userBirthday = "<%- User.cbirthday %>";
            var userAccount = "<%- User.caccount %>";
            var userPhoto = "<%- User.cphoto %>";
        }
    </script>
</head>
<body ng-controller="AppCtrl">

    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
            <img alt="Brand" class="glyphicon glyphicon-shopping-cart
">
        </a>
    </div>

    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Product <span class="sr-only">(current)</span></a></li>
        <li><a href="#" ng-bind="$root.user.userName || 'шикхов'"></a></li>
        <li><a href="#">Analysis</a></li>
      </ul>

      <form class="navbar-form navbar-right" role="login">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" ng-model="username">
          <input type="text" class="form-control" placeholder="Password" ng-model="password">
        </div>
        <button type="submit" class="btn btn-default" ng-click="Login()">Login</button>
      </form>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <!--
    <div id="wrap1">
        <div id="top" class="container_12">
            <div class="grid_6">
                <img src="img/Online_Shop_Logo.24535510_std.png">
            </div>
            <div class="grid_2">
                <input placeholder="Email">
            </div>
            <div class="grid_2">
                <input placeholder="Password">
            </div>
            <div class="grid_2">
                <button>Sign in</button>
            </div>
            <input type="filepicker" data-fp-apikey="AfDUcO2yfT4yVBX9p2t4Xz" data-fp-mimetypes="text/comma-separated-values, text/csv, application/csv, application/excel, application/vnd.ms-excel, application/vnd.msexcel, text/anytext" data-fp-container="modal" onchange="alert(event.fpfile.url);angular.element(this).scope().saveCsv(event.fpfile.url);">

        </div>
    </div>
-->


    <section ui-view></section>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script "text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="../js/lib/angular-ui-router.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/services.js"></script>
    <script src="../js/controllers.js"></script>
    <script src="../js/filters.js"></script>
    <script src="../js/directives.js"></script>
</body>
</html>